---
- name: Install Apache web server (Debian/Ubuntu)
  apt:
    name: apache2
    state: present
    update_cache: no
  when: ansible_os_family == "Debian"

- name: Configure index.html with system information
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
    mode: '0644'
  notify: Restart Apache

- name: Ensure Apache is running and enabled
  systemd:
    name: apache2
    state: started
    enabled: yes
